header {
  .avatar-nav {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .avatar-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family: monospace;
    color: black;
  }

  .avatar-link:hover {
    color: #D3445A;
  }
}

main {
  background-color: #F7F8FB;

  .flex-search {
    display: flex;
    flex-direction: column;
  }

  .main-content {
    min-height: 1195px;
  }

  .search-form {
    align-self: flex-end;
    margin-top: auto;
  }

  .search-book {
    width: 65%;
    align-self: flex-end;
    margin-top: auto;
  }

  .search-book:hover {
    border: 2px solid #D3445A !important;
  }


  .btn-add {
    background-color: rgb(211, 68, 90);
    color: white;
    font-weight: 500;
  }

  .pagination {
    justify-content: center;
  }


  /* theme sáng */
  .theme-light {
    background-color: #ffffff;
    color: #000000;
  }

  .theme-light .modal {
    background-color: #ffffff;
    color: #000000;
  }

  .theme-light .modal-theme {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .theme-light .button {
    background-color: #ffffff;
    color: #000000;
  }

  /* theme tối */
  .theme-dark {
    background-color: #121212;
    color: #ffffff;
  }

  .theme-dark .modal {
    background-color: #121212;
    color: #ffffff;
  }

  .theme-dark .modal-theme {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }

  .theme-dark .button {
    background-color: #121212;
    color: #ffffff;
  }
}

th:nth-child(1) {
  width: 40%;
}


footer {
  background-color: #D3445A;
  text-align: center;
}